<div class="row">
  <div class="col-xs-12">
    <div class="service-name">Group Note</div>
    <form class="form-signup" method="POST" action="//localhost:3000/register">
      <div class="form-group">
        <label class="sr-only" for="input_invite_code">Invite code</label>
        <input class="form-control" id="input_invite_code" type="text" name="invite_code" placeholder="invite code" autofocus/>
      </div>
      <button class="btn btn-primary btn-block" type="submit">Sign up with direct</button>
    </form>
  </div>
</div>
